* {
  margin: 0;
  padding: 0;
  font-family: Poppins sans-serif;
}

body {
  max-width: 1440px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  background-color: #f0f4f5;
  background-image: url(assets/stethoscope.png);
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
nav > ul {
  display: flex;
  font-weight: 600;
  margin-right: 141px;
  font-size: 18px;
}
li {
  list-style-type: none;
  margin-left: 42px;
}

li:first-child {
  color: #20bc7e;
}

/* Main */
main {
  display: flex;
}

/* right section */
.right_section {
  width: 40%;
}

.doctor {
  position: absolute;
  height: 630px;
  right: 3%;
  top: 13.7%;
}

.green {
  position: absolute;
  height: 500px;
  top: 29%;
  right: 2%;
}
.yellow {
  position: absolute;
  height: 436px;
  top: 35%;
  right: 0%;
}

.right_section > img {
  margin-left: 123px;
}

/* left section */
.left_section {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* margin-top: 12%; */
  height: 81vh;
  justify-content: space-evenly;
}

button {
  background-color: #20bc7e;
  border: none;
  color: #f0f4f5;
  border-radius: 21px;
  padding: 2% 5%;
  font-size: 1.2rem;
}
.mouse {
  position: absolute;
  left: 48%;
  top: 85%;
  height: 24px;
}
.bottomangle {
  position: absolute;
  top: 81%;
  left: 39%;
}

h1 {
  font-size: 4.2rem;
  width: 61%;
}
p {
  font-size: 1.2rem;
  width: 65%;
  color: #858585;
}
